apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.service.group: trex
    kompose.volume.type: configMap
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: rh-trex
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: rh-trex
    app.kubernetes.io/part-of: rh-trex
    io.kompose.service: trex
  name: rh-trex
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: rh-trex
      io.kompose.service: trex
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.service.group: trex
        kompose.volume.type: configMap
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: rh-trex
        io.kompose.network/rh-trex-default: "true"
        io.kompose.service: trex
    spec:
      containers:
      - args:
        - "/usr/local/bin/trex migrate\n/usr/local/bin/trex serve --api-server-bindaddress=0.0.0.0:8000
          \     \n"
        command:
        - sh
        - -c
        image: trex
        name: trex
        ports:
        - containerPort: 8000
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests:
            cpu: 10m
            memory: 50Mi
        volumeMounts:
        - mountPath: /rh-trex/secrets
          name: trex-cm0
      restartPolicy: Always
      volumes:
      - configMap:
          name: trex-cm0
        name: trex-cm0
status: {}
